We import the pickle file, and collect it using pandas DataFrame.

In [2]:
import pickle
import pandas as pd
dbfile = open("df_train_api.pk", 'rb')
df = pickle.load(dbfile)

We set necessary height and width in order to display the rows untruncated.

In [7]:
pd.set_option('display.height', 500)
pd.set_option('display.max_rows', 500)

height has been deprecated.

In [90]:
df

,groups,type,data,label,coords
270,ACME VISUAL SYSTEMS,"(acm visual system, text,text,text, 2337, 1653)",14754,0,"[511.0, 143.0, 1217.0, 189.0, 864.0, 166.0]"
271,TAX INVOICE,"(tax invoic, text,text, 2337, 1653)",14754,0,"[717.0, 264.0, 877.0, 284.0, 797.0, 274.0]"
272,ACME VISUAL SYSTEMS,"(acm visual system, text,text,text, 2337, 1653)",14754,0,"[166.0, 351.0, 435.0, 369.0, 300.5, 360.0]"
273,"808, JANTA FLAT, GTB ENCLAVE, NANAD NAGARI","(number janta flat gtb enclav nanad nagari, nu...",14754,0,"[167.0, 384.0, 712.0, 403.0, 439.5, 393.5]"
274,DELHI-110093,"(delhi-110093, text, 2337, 1653)",14754,0,"[168.0, 417.0, 323.0, 436.0, 245.5, 426.5]"
275,CONTACT:-9871101347,"(contact:-9871101347, text, 2337, 1653)",14754,0,"[167.0, 451.0, 435.0, 470.0, 301.0, 460.5]"
276,EMAIL:-acmevisualsystems@mail.com,"(email, email, 2337, 1653)",14754,0,"[167.0, 486.0, 610.0, 506.0, 388.5, 496.0]"
277,Invoice No.,"(invoic number, text,text, 2337, 1653)",14754,0,"[888.0, 350.0, 1010.0, 368.0, 949.0, 359.0]"
278,GS-032,"(gs-032, text, 2337, 1653)",14754,2,"[887.0, 384.0, 965.0, 402.0, 926.0, 393.0]"
279,Delivery Note:-,"(deliveri note:-, text,text, 2337, 1653)",14754,0,"[887.0, 416.0, 1059.0, 435.0, 973.0, 425.5]"
280,Dated,"(date, text, 2337, 1653)",14754,0,"[1250.0, 350.0, 1315.0, 369.0, 1282.5, 359.5]"
281,22/08/2017,"(date, date, 2337, 1653)",14754,1,"[1249.0, 383.0, 1379.0, 408.0, 1314.0, 395.5]"
282,Mode/Terms of Payment,"(mode/term payment, text,text, 2337, 1653)",14754,0,"[1250.0, 418.0, 1526.0, 443.0, 1388.0, 430.5]"
283,100% against Delivery,"(number deliveri, number,text, 2337, 1653)",14754,0,"[1249.0, 454.0, 1497.0, 477.0, 1373.0, 465.5]"
284,Other Reference(s),"(reference(, text, 2337, 1653)",14754,0,"[1249.0, 487.0, 1455.0, 512.0, 1352.0, 499.5]"
285,Supplier ref.:-,"(supplier ref.:-, text,text, 2337, 1653)",14754,0,"[887.0, 488.0, 1054.0, 507.0, 970.5, 497.5]"
286,Buyer's Order No.:- IIML-,"(buyer order no.:- iiml-, text,text,text,text,...",14754,0,"[888.0, 545.0, 1174.0, 564.0, 1031.0, 554.5]"
287,Dispatch Doc. No.:,"(dispatch doc number, text,text,text, 2337, 1653)",14754,0,"[887.0, 612.0, 1106.0, 638.0, 996.5, 625.0]"
288,Dated:,"(date, text, 2337, 1653)",14754,0,"[1249.0, 545.0, 1318.0, 566.0, 1283.5, 555.5]"
289,TO,"(, , 2337, 1653)",14754,0,"[165.0, 546.0, 198.0, 565.0, 181.5, 555.5]"
290,INCUBATOR,"(incub, text, 2337, 1653)",14754,0,"[167.0, 579.0, 302.0, 598.0, 234.5, 588.5]"
291,INDIAN INSTITUTE OF MANAGEMENT LUCKNOW,"(indian institut manag lucknow, text,text,text...",14754,0,"[167.0, 613.0, 766.0, 635.0, 466.5, 624.0]"
292,"NOIDA CAMPUS, B-1,INSTITUTIONAL AREA, SECTOR-62","(noida campus b-1,institut area sector-62, tex...",14754,0,"[170.0, 643.0, 832.0, 683.0, 501.0, 663.0]"
293,"NOIDA, UP","(noida, text, 2337, 1653)",14754,0,"[167.0, 690.0, 297.0, 709.0, 232.0, 699.5]"
294,SI.No.,"(si.no, text, 2337, 1653)",14754,0,"[165.0, 731.0, 230.0, 749.0, 197.5, 740.0]"
295,NILL Dated:,"(nill date, text,text, 2337, 1653)",14754,0,"[1116.0, 604.0, 1320.0, 637.0, 1218.0, 620.5]"
296,Terms of Delivery : BY HAND,"(term deliveri hand, text,text,text, 2337, 1653)",14754,0,"[863.0, 650.0, 1235.0, 687.0, 1049.0, 668.5]"
297,Description of Goods,"(descript good, text,text, 2337, 1653)",14754,0,"[443.0, 731.0, 692.0, 751.0, 567.5, 741.0]"
298,Quantity,"(quantiti, text, 2337, 1653)",14754,0,"[894.0, 732.0, 997.0, 757.0, 945.5, 744.5]"
299,01,"(number, number, 2337, 1653)",14754,0,"[887.0, 770.0, 908.0, 789.0, 897.5, 779.5]"
300,Rate,"(rate, text, 2337, 1653)",14754,0,"[1114.0, 732.0, 1167.0, 753.0, 1140.5, 742.5]"
301,Per,"(per, text, 2337, 1653)",14754,0,"[1281.0, 732.0, 1323.0, 749.0, 1302.0, 740.5]"
302,Amount,"(amount, text, 2337, 1653)",14754,0,"[1412.0, 733.0, 1506.0, 752.0, 1459.0, 742.5]"
303,"Pcs | Rs. 13,000","(piec rs number, text,text,number, 2337, 1653)",14754,0,"[1275.0, 770.0, 1467.0, 792.0, 1371.0, 781.0]"
304,Motorized projection screen,"(motor project screen, text,text,text, 2337, 1...",14754,0,"[278.0, 769.0, 587.0, 788.0, 432.5, 778.5]"
305,Size 6x8 feet,"(size 6x8 feet, text,text,text, 2337, 1653)",14754,0,"[278.0, 801.0, 421.0, 818.0, 349.5, 809.5]"
306,"Rs. 13,000","(rs number, text,number, 2337, 1653)",14754,0,"[1037.0, 770.0, 1154.0, 791.0, 1095.5, 780.5]"
307,Rs. 3640/,"(rs number, text,number, 2337, 1653)",14754,0,"[1357.0, 1057.0, 1462.0, 1073.0, 1409.5, 1065.0]"
308,Output IGST@28%,"(output igst@28, text,text, 2337, 1653)",14754,0,"[277.0, 1087.0, 498.0, 1106.0, 387.5, 1096.5]"
309,Total,"(total, text, 2337, 1653)",14754,0,"[536.0, 1246.0, 595.0, 1265.0, 565.5, 1255.5]"
310,"Rs16,640","(rs16,640, text, 2337, 1653)",14754,18,"[1357.0, 1246.0, 1460.0, 1268.0, 1408.5, 1257.0]"
311,Amount Chargeable (in words),"(amount chargeabl word, text,text,text, 2337, ...",14754,0,"[163.0, 1290.0, 503.0, 1313.0, 333.0, 1301.5]"
312,INR SIXTEEN THOUSAND SIX HUNDREAD FOURTY RUPEE...,(inr sixteen thousand six hundread fourti rupe...,14754,0,"[164.0, 1324.0, 905.0, 1341.0, 534.5, 1332.5]"
313,Company's GSTIN,"(compani gstin, text,text, 2337, 1653)",14754,0,"[163.0, 1426.0, 358.0, 1441.0, 260.5, 1433.5]"
314,Company's PAN No.:AUBPK9847N,"(compani pan no.:aubpk9847n, text,text,text, 2...",14754,0,"[163.0, 1458.0, 624.0, 1478.0, 393.5, 1468.0]"
315,Buyer's VAT TIN,"(buyer vat tin, text,text,text, 2337, 1653)",14754,0,"[163.0, 1493.0, 337.0, 1508.0, 250.0, 1500.5]"
316,: 07AUBPK9847N1ZX,"(07aubpk9847n1zx, text, 2337, 1653)",14754,0,"[442.0, 1429.0, 702.0, 1444.0, 572.0, 1436.5]"
317,For ACME VISUAL SYSTEMS,"(acm visual system, text,text,text, 2337, 1653)",14754,0,"[1250.0, 1572.0, 1559.0, 1591.0, 1404.5, 1581.5]"
318,Declaration,"(declar, text, 2337, 1653)",14754,0,"[164.0, 1573.0, 289.0, 1592.0, 226.5, 1582.5]"
319,We declare that this invoice shows the actual ...,"(declar invoic show actual price, text,text,te...",14754,0,"[163.0, 1607.0, 802.0, 1624.0, 482.5, 1615.5]"
320,goods described and that all particulars are t...,"(good describ particular true, text,text,text,...",14754,0,"[163.0, 1640.0, 748.0, 1659.0, 455.5, 1649.5]"
321,correct.,"(correct, text, 2337, 1653)",14754,0,"[163.0, 1678.0, 247.0, 1696.0, 205.0, 1687.0]"
322,Authorised Signatory,"(authoris signatori, text,text, 2337, 1653)",14754,0,"[1327.0, 1789.0, 1558.0, 1812.0, 1442.5, 1800.5]"
323,SUBJECT TO DELHI JURISDICTION,"(subject delhi jurisdict, text,text,text, 2337...",14754,0,"[660.0, 1918.0, 1063.0, 1939.0, 861.5, 1928.5]"
324,This is a Computer Generated Invoice,"(comput generat invoic, text,text,text, 2337, ...",14754,0,"[635.0, 1953.0, 1089.0, 1973.0, 862.0, 1963.0]"
325,GE INCU,"(ge incu, text,text, 2337, 1653)",14754,0,"[934.0, 2033.0, 1024.0, 2057.0, 979.0, 2045.0]"
326,LCD Projector.,"(lcd projector, text,text, 2337, 1653)",14754,0,"[668.0, 2043.0, 815.0, 2064.0, 741.5, 2053.5]"
327,Video Conferencing Systei,"(video conferenc systei, text,text,text, 2337,...",14754,0,"[668.0, 2074.0, 935.0, 2094.0, 801.5, 2084.0]"
328,Conference room PA,"(confer room pa, text,text,text, 2337, 1653)",14754,0,"[668.0, 2106.0, 879.0, 2121.0, 773.5, 2113.5]"
329,"808, Janta flat, GTB Enclave","(number janta flat gtb enclav, number,text,tex...",14754,0,"[1232.0, 2041.0, 1573.0, 2061.0, 1402.5, 2051.0]"
330,"Nanad Nagar, Delhi-110093","(nanad nagar delhi-110093, text,text,text, 233...",14754,0,"[1233.0, 2077.0, 1574.0, 2098.0, 1403.5, 2087.5]"
331,SONY,"(soni, text, 2337, 1653)",14754,0,"[193.0, 2048.0, 312.0, 2081.0, 252.5, 2064.5]"
332,Business Display Products,"(busi display product, text,text,text, 2337, 1...",14754,0,"[131.0, 2106.0, 439.0, 2125.0, 285.0, 2115.5]"
333,ms.,"(ms, text, 2337, 1653)",14754,0,"[942.0, 2111.0, 976.0, 2123.0, 959.0, 2117.0]"
334,. Security systems,"(secur system, text,text, 2337, 1653)",14754,0,"[619.0, 2144.0, 840.0, 2159.0, 729.5, 2151.5]"
335,Photocopier Machine,"(photocopi machin, text,text, 2337, 1653)",14754,0,"[668.0, 2170.0, 888.0, 2187.0, 778.0, 2178.5]"
336,TAX-INVOICE,"(tax-invoic, text, 3508, 2479)",14798,0,"[967.0, 239.0, 1504.0, 292.0, 1235.5, 265.5]"
337,ARIBA TOUR & TRAVELS,"(ariba tour travel, text,text,text, 3508, 2479)",14798,0,"[220.0, 368.0, 730.0, 400.0, 475.0, 384.0]"
338,SPF 19 Shipra shopping Plaza,"(spf number shipra shop plaza, text,number,tex...",14798,0,"[220.0, 419.0, 788.0, 453.0, 504.0, 436.0]"
339,Indirapuram Gzb-201014,"(indirapuram gzb-201014, text,text, 3508, 2479)",14798,0,"[222.0, 472.0, 682.0, 505.0, 452.0, 488.5]"
340,Ph,"(ph, text, 3508, 2479)",14798,0,"[222.0, 525.0, 268.0, 557.0, 245.0, 541.0]"
341,Invoice No.,"(invoic number, text,text, 3508, 2479)",14798,0,"[1402.0, 368.0, 1606.0, 401.0, 1504.0, 384.5]"
342,Date,"(date, text, 3508, 2479)",14798,0,"[1402.0, 421.0, 1485.0, 453.0, 1443.5, 437.0]"
343,Order Ref.,"(order refer, text,text, 3508, 2479)",14798,0,"[1401.0, 471.0, 1593.0, 504.0, 1497.0, 487.5]"
344,Product,"(product, text, 3508, 2479)",14798,0,"[1401.0, 525.0, 1542.0, 558.0, 1471.5, 541.5]"
345,N-10-01/2016-17,"(n-10-01/2016-17, text, 3508, 2479)",14798,2,"[1911.0, 371.0, 2201.0, 399.0, 2056.0, 385.0]"
346,10-11-2017,"(date, date, 3508, 2479)",14798,1,"[1897.0, 424.0, 2087.0, 450.0, 1992.0, 437.0]"
347,MR AJAY/ RAHUL,"(mr ajay rahul, text,text,text, 3508, 2479)",14798,0,"[1909.0, 477.0, 2203.0, 504.0, 2056.0, 490.5]"
348,AIR/ RAIL TICKET,"(air rail ticket, text,text,text, 3508, 2479)",14798,0,"[1911.0, 534.0, 2220.0, 563.0, 2065.5, 548.5]"
349,9650244111,"(number, number, 3508, 2479)",14798,0,"[527.0, 527.0, 747.0, 557.0, 637.0, 542.0]"
350,Kind Attn :- Polestar Solutions and Services I...,(kind attn polestar solut servic india privat ...,14798,8,"[222.0, 638.0, 2080.0, 671.0, 1151.0, 654.5]"
351,Sr.No. Name of Passenger,"(sr.no name passeng, text,text,text, 3508, 2479)",14798,0,"[220.0, 739.0, 708.0, 780.0, 464.0, 759.5]"
352,Pnr No.,"(pnr number, text,text, 3508, 2479)",14798,0,"[878.0, 741.0, 1026.0, 773.0, 952.0, 757.0]"
353,Booking Date Dep Date Fare,"(book date dep date fare, text,text,text,text,...",14798,0,"[1139.0, 743.0, 1746.0, 773.0, 1442.5, 758.0]"
354,Total Amount.,"(total amount, text,text, 3508, 2479)",14798,0,"[1901.0, 748.0, 2221.0, 775.0, 2061.0, 761.5]"
355,Silky Sachdeva,"(silki sachdeva, text,text, 3508, 2479)",14798,0,"[392.0, 900.0, 643.0, 927.0, 517.5, 913.5]"
356,1 BLR-DEL,"(number blr-del, number,text, 3508, 2479)",14798,0,"[282.0, 959.0, 549.0, 991.0, 415.5, 975.0]"
357,W8V9KG10-11-2017,"(w8v9kg10-11-2017, text, 3508, 2479)",14798,0,"[858.0, 952.0, 1326.0, 1002.0, 1092.0, 977.0]"
358,24-Nov 5042+ 250,"(date number number, date,number,number, 3508,...",14798,0,"[1488.0, 959.0, 1876.0, 991.0, 1682.0, 975.0]"
359,"5,292.00","(money, money, 3508, 2479)",14798,0,"[2040.0, 959.0, 2225.0, 995.0, 2132.5, 977.0]"
360,260.00,"(money, money, 3508, 2479)",14798,0,"[2082.0, 1010.0, 2224.0, 1041.0, 2153.0, 1025.5]"
361,ADD MEAL 260,"(add meal number, text,text,number, 3508, 2479)",14798,0,"[380.0, 1010.0, 689.0, 1044.0, 534.5, 1027.0]"
362,Grand Total,"(grand total, text,text, 3508, 2479)",14798,0,"[774.0, 1580.0, 990.0, 1613.0, 882.0, 1596.5]"
363,GST,"(gst, text, 3508, 2479)",14798,0,"[774.0, 1632.0, 856.0, 1664.0, 815.0, 1648.0]"
364,Refund,"(refund, text, 3508, 2479)",14798,0,"[774.0, 1685.0, 901.0, 1717.0, 837.5, 1701.0]"
365,Net Amount (Rs.,"(net amount rs, text,text,text, 3508, 2479)",14798,0,"[774.0, 1738.0, 1077.0, 1770.0, 925.5, 1754.0]"
366,"5,552.00","(money, money, 3508, 2479)",14798,0,"[2076.0, 1584.0, 2237.0, 1613.0, 2156.5, 1598.5]"
367,45.00,"(money, money, 3508, 2479)",14798,0,"[2135.0, 1630.0, 2231.0, 1668.0, 2183.0, 1649.0]"
368,"5,597.00","(money, money, 3508, 2479)",14798,18,"[2076.0, 1738.0, 2236.0, 1769.0, 2156.0, 1753.5]"
369,In Words:- FIVE THOUSAND FIVE HUNDRED NINTY SE...,(words:- five thousand five hundr ninti seven ...,14798,0,"[222.0, 1791.0, 1592.0, 1823.0, 907.0, 1807.0]"
370,F or A riba Tour & t r av els,"(riba tour av el, text,text,text,text, 3508, 2...",14798,0,"[1466.0, 1858.0, 2251.0, 1890.0, 1858.5, 1874.0]"
371,RAHU L GU PTA,"(rahu gu pta, text,text,text, 3508, 2479)",14798,0,"[1586.0, 1976.0, 1948.0, 2008.0, 1767.0, 1992.0]"
372,A uthorised Signator y,"(uthoris signat, text,text, 3508, 2479)",14798,0,"[1719.0, 2093.0, 2241.0, 2128.0, 1980.0, 2110.5]"
373,Note Term & Conditions,"(note term condit, text,text,text, 3508, 2479)",14798,0,"[224.0, 2161.0, 816.0, 2193.0, 520.0, 2177.0]"
374,* Please make payment through Crossed Cheque /...,(pleas make payment cross chequ demand draft o...,14798,0,"[219.0, 2230.0, 2082.0, 2255.0, 1150.5, 2242.5]"
375,* Interest @ 24% shall be charged on overdue b...,"(interest number shall charg overdu bill, text...",14798,0,"[220.0, 2281.0, 1080.0, 2310.0, 650.0, 2295.5]"
376,* All disputs subject to Ghaziabad Jurisdiction,"(disput subject ghaziabad jurisdict, text,text...",14798,0,"[220.0, 2332.0, 989.0, 2361.0, 604.5, 2346.5]"
377,* Receipt on our official receipt from duly si...,(receipt offici receipt duli sign cashier onli...,14798,0,"[220.0, 2386.0, 1756.0, 2415.0, 988.0, 2400.5]"
378,GST DETAILS,"(gst detail, text,text, 3508, 2479)",14798,0,"[220.0, 2446.0, 457.0, 2476.0, 338.5, 2461.0]"
379,Invoice Number,"(invoic number, text,text, 3508, 2479)",14798,0,"[1899.0, 2446.0, 2190.0, 2475.0, 2044.5, 2460.5]"
380,SUPPLUER INFORM ATION,"(suppluer inform ation, text,text,text, 3508, ...",14798,0,"[428.0, 2502.0, 896.0, 2531.0, 662.0, 2516.5]"
381,REC曰PI ENT INFORM ATION,"(rec曰pi ent inform ation, text,text,text,text,...",14798,0,"[1442.0, 2502.0, 1946.0, 2531.0, 1694.0, 2516.5]"
382,SAC,"(sac, text, 3508, 2479)",14798,0,"[256.0, 2507.0, 328.0, 2535.0, 292.0, 2521.0]"
383,CODE GSTIN,"(code gstin, text,text, 3508, 2479)",14798,0,"[241.0, 2560.0, 487.0, 2590.0, 364.0, 2575.0]"
384,STATE,"(state, text, 3508, 2479)",14798,0,"[892.0, 2560.0, 1006.0, 2590.0, 949.0, 2575.0]"
385,GSTIN,"(gstin, text, 3508, 2479)",14798,0,"[1437.0, 2560.0, 1545.0, 2588.0, 1491.0, 2574.0]"
386,NAME,"(name, text, 3508, 2479)",14798,0,"[1712.0, 2562.0, 1831.0, 2591.0, 1771.5, 2576.5]"
387,ADDRESS,"(address, text, 3508, 2479)",14798,0,"[1990.0, 2560.0, 2165.0, 2589.0, 2077.5, 2574.5]"
388,CODE/NAME,"(code/nam, text, 3508, 2479)",14798,0,"[829.0, 2622.0, 1070.0, 2651.0, 949.5, 2636.5]"
389,996425 09AAZFA7281Q127,"(number 09aazfa7281q127, number,text, 3508, 2479)",14798,14,"[224.0, 2684.0, 728.0, 2716.0, 476.0, 2700.0]"
390,996421,"(number, number, 3508, 2479)",14798,0,"[224.0, 2742.0, 350.0, 2775.0, 287.0, 2758.5]"
391,09/UTTER PRADESH,"(09/utter pradesh, text,text, 3508, 2479)",14798,0,"[863.0, 2684.0, 1229.0, 2714.0, 1046.0, 2699.0]"
392,07A,"(07a, text, 3508, 2479)",14798,0,"[1401.0, 2684.0, 1471.0, 2714.0, 1436.0, 2699.0]"
393,1487E1 Z7,"(1487e1 z7, text,text, 3508, 2479)",14798,0,"[1402.0, 2744.0, 1577.0, 2771.0, 1489.5, 2757.5]"
394,AJCP,"(ajcp, text, 3508, 2479)",14798,0,"[1471.0, 2684.0, 1563.0, 2714.0, 1517.0, 2699.0]"
395,| POL ESTAR,"(pol estar, text,text, 3508, 2479)",14798,0,"[1647.0, 2684.0, 1849.0, 2714.0, 1748.0, 2699.0]"
396,| UTTER PRADESH,"(utter pradesh, text,text, 3508, 2479)",14798,0,"[1884.0, 2684.0, 2201.0, 2714.0, 2042.5, 2699.0]"
397,TAXBLE,"(taxbl, text, 3508, 2479)",14798,0,"[219.0, 2867.0, 366.0, 2896.0, 292.5, 2881.5]"
398,CGST,"(cgst, text, 3508, 2479)",14798,0,"[539.0, 2867.0, 636.0, 2896.0, 587.5, 2881.5]"
399,SGST/ UGST,"(sgst ugst, text,text, 3508, 2479)",14798,0,"[1217.0, 2867.0, 1436.0, 2896.0, 1326.5, 2881.5]"
400,GST,"(gst, text, 3508, 2479)",14798,0,"[1825.0, 2867.0, 1898.0, 2897.0, 1861.5, 2882.0]"
401,VELUE,"(velu, text, 3508, 2479)",14798,0,"[220.0, 2925.0, 338.0, 2954.0, 279.0, 2939.5]"
402,RATE,"(rate, text, 3508, 2479)",14798,0,"[524.0, 2927.0, 619.0, 2956.0, 571.5, 2941.5]"
403,AMOUNT,"(amount, text, 3508, 2479)",14798,0,"[858.0, 2927.0, 1036.0, 2955.0, 947.0, 2941.0]"
404,RATE,"(rate, text, 3508, 2479)",14798,0,"[1216.0, 2927.0, 1311.0, 2956.0, 1263.5, 2941.5]"
405,AMOUNT,"(amount, text, 3508, 2479)",14798,0,"[1433.0, 2927.0, 1611.0, 2955.0, 1522.0, 2941.0]"
406,RATE,"(rate, text, 3508, 2479)",14798,0,"[1726.0, 2927.0, 1821.0, 2956.0, 1773.5, 2941.5]"
407,AMOUNT,"(amount, text, 3508, 2479)",14798,0,"[1986.0, 2927.0, 2164.0, 2955.0, 2075.0, 2941.0]"
408,250,"(number, number, 3508, 2479)",14798,0,"[294.0, 3048.0, 357.0, 3079.0, 325.5, 3063.5]"
409,9% Rs,"(number rs, number,text, 3508, 2479)",14798,0,"[700.0, 3050.0, 825.0, 3078.0, 762.5, 3064.0]"
410,22.50,"(money, money, 3508, 2479)",14798,0,"[1007.0, 3050.0, 1107.0, 3077.0, 1057.0, 3063.5]"
411,9% Rs.,"(number rs, number,text, 3508, 2479)",14798,0,"[1327.0, 3050.0, 1460.0, 3078.0, 1393.5, 3064.0]"
412,22.50,"(money, money, 3508, 2479)",14798,0,"[1529.0, 3050.0, 1630.0, 3079.0, 1579.5, 3064.5]"
413,0901 Rs,"(number rs, number,text, 3508, 2479)",14798,0,"[1825.0, 3048.0, 1950.0, 3078.0, 1887.5, 3063.0]"
414,TOTALTAX,"(totaltax, text, 3508, 2479)",14798,0,"[842.0, 3232.0, 1051.0, 3261.0, 946.5, 3246.5]"
415,Rs. 45.00,"(rs money, text,money, 3508, 2479)",14798,0,"[1151.0, 3230.0, 1369.0, 3262.0, 1260.0, 3246.0]"
416,airtel,"(airtel, text, 3508, 2475)",14822,0,"[2226.0, 138.0, 2400.0, 179.0, 2313.0, 158.5]"
417,Invoice No.,"(invoic number, text,text, 3508, 2475)",14822,0,"[1462.0, 207.0, 1659.0, 235.0, 1560.5, 221.0]"
418,194385664,"(number, number, 3508, 2475)",14822,2,"[2247.0, 198.0, 2430.0, 224.0, 2338.5, 211.0]"
419,Your Charges in Details,"(charg detail, text,text, 3508, 2475)",14822,0,"[25.0, 260.0, 487.0, 290.0, 256.0, 275.0]"
420,Invoice Date :,"(invoic date, text,text, 3508, 2475)",14822,0,"[1462.0, 268.0, 1769.0, 297.0, 1615.5, 282.5]"
421,15-Jun-17,"(date, date, 3508, 2475)",14822,1,"[2271.0, 263.0, 2428.0, 290.0, 2349.5, 276.5]"
422,Circuit Type:lnternet,"(circuit type:lnternet, text,text, 3508, 2475)",14822,0,"[29.0, 380.0, 272.0, 403.0, 150.5, 391.5]"
423,Current Total Tax with,"(current total tax, text,text,text, 3508, 2475)",14822,0,"[2033.0, 447.0, 2372.0, 501.0, 2202.5, 474.0]"
424,Annual,"(annual, text, 3508, 2475)",14822,0,"[1884.0, 452.0, 1965.0, 469.0, 1924.5, 460.5]"
425,charges Charges (INR),"(charg charg inr, text,text,text, 3508, 2475)",14822,0,"[1884.0, 474.0, 2229.0, 518.0, 2056.5, 496.0]"
426,Amount,"(amount, text, 3508, 2475)",14822,0,"[2326.0, 452.0, 2420.0, 472.0, 2373.0, 462.0]"
427,Logical,"(logic, text, 3508, 2475)",14822,0,"[29.0, 467.0, 111.0, 489.0, 70.0, 478.0]"
428,ID/Circuit ld,"(id/circuit ld, text,text, 3508, 2475)",14822,0,"[29.0, 489.0, 167.0, 509.0, 98.0, 499.0]"
429,Customer PO &,"(custom po, text,text, 3508, 2475)",14822,0,"[258.0, 467.0, 438.0, 484.0, 348.0, 475.5]"
430,Date,"(date, text, 3508, 2475)",14822,0,"[258.0, 491.0, 312.0, 508.0, 285.0, 499.5]"
431,Originating,"(origin, text, 3508, 2475)",14822,0,"[507.0, 465.0, 639.0, 488.0, 573.0, 476.5]"
432,Point,"(point, text, 3508, 2475)",14822,0,"[507.0, 491.0, 566.0, 509.0, 536.5, 500.0]"
433,Terminating,"(termin, text, 3508, 2475)",14822,0,"[738.0, 465.0, 880.0, 487.0, 809.0, 476.0]"
434,Point,"(point, text, 3508, 2475)",14822,0,"[739.0, 489.0, 798.0, 507.0, 768.5, 498.0]"
435,Insta Bandwidth/,"(insta bandwidth, text,text, 3508, 2475)",14822,0,"[971.0, 465.0, 1236.0, 487.0, 1103.5, 476.0]"
436,Date,"(date, text, 3508, 2475)",14822,0,"[971.0, 491.0, 1024.0, 508.0, 997.5, 499.5]"
437,Annotation,"(annot, text, 3508, 2475)",14822,0,"[1291.0, 477.0, 1426.0, 495.0, 1358.5, 486.0]"
438,Distance,"(distanc, text, 3508, 2475)",14822,0,"[1103.0, 489.0, 1204.0, 509.0, 1153.5, 499.0]"
439,Date,"(date, text, 3508, 2475)",14822,0,"[1615.0, 491.0, 1669.0, 508.0, 1642.0, 499.5]"
440,Date,"(date, text, 3508, 2475)",14822,0,"[1750.0, 491.0, 1803.0, 508.0, 1776.5, 499.5]"
441,(INR),"(inr, text, 3508, 2475)",14822,0,"[2031.0, 501.0, 2085.0, 523.0, 2058.0, 512.0]"
442,Tax(INR),"(tax(inr, text, 3508, 2475)",14822,0,"[2324.0, 501.0, 2421.0, 523.0, 2372.5, 512.0]"
443,NL ground,"(nl ground, text,text, 3508, 2475)",14822,0,"[765.0, 613.0, 882.0, 635.0, 823.5, 624.0]"
444,[4096 KBPS (1:1) INTERNET,"(number kbps 1:1 internet, number,text,text,te...",14822,0,"[1293.0, 623.0, 1582.0, 643.0, 1437.5, 633.0]"

As the column 'data' represents different files here we group the data according to it.

In [3]:
df.groupby('data').groups

{14743: Int64Index([5117, 5118, 5119, 5120, 5121, 5122, 5123, 5124, 5125, 5126, 5127,
             5128, 5129, 5130, 5131, 5132, 5133, 5134, 5135, 5136, 5137, 5138,
             5139, 5140, 5141, 5142, 5143, 5144, 5145, 5146, 5147, 5148, 5149,
             5150, 5151, 5152, 5153, 5154, 5155, 5156, 5157, 5158, 5159, 5160,
             5161, 5162, 5163, 5164, 5165, 5166, 5167, 5168, 5169, 5170, 5171,
             5172, 5173, 5174, 5175, 5176, 5177, 5178, 5179, 5180, 5181, 5182,
             5183, 5184, 5185, 5186],
            dtype='int64'),
 14744: Int64Index([3313, 3314, 3315, 3316, 3317, 3318, 3319, 3320, 3321, 3322, 3323,
             3324, 3325, 3326, 3327, 3328, 3329, 3330, 3331, 3332, 3333, 3334,
             3335, 3336, 3337, 3338, 3339, 3340, 3341, 3342, 3343, 3344, 3345,
             3346, 3347, 3348, 3349, 3350, 3351, 3352, 3353, 3354, 3355, 3356],
            dtype='int64'),
 14747: Int64Index([1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815,
             1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826,
             1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837,
             1838, 1839, 1840],
            dtype='int64'),
 14748: Int64Index([4034, 4035, 4036, 4037, 4038, 4039, 4040, 4041, 4042, 4043, 4044,
             4045, 4046, 4047, 4048, 4049, 4050, 4051, 4052, 4053, 4054, 4055,
             4056, 4057, 4058, 4059, 4060],
            dtype='int64'),
 14751: Int64Index([4218, 4219, 4220, 4221, 4222, 4223, 4224, 4225, 4226, 4227, 4228,
             4229, 4230, 4231, 4232, 4233, 4234, 4235, 4236, 4237, 4238, 4239,
             4240, 4241, 4242, 4243, 4244, 4245, 4246, 4247, 4248, 4249, 4250,
             4251, 4252, 4253, 4254, 4255],
            dtype='int64'),
 14752: Int64Index([719, 720, 721, 722, 723, 724, 725, 726, 727, 728,
             ...
             811, 812, 813, 814, 815, 816, 817, 818, 819, 820],
            dtype='int64', length=102),
 14753: Int64Index([3220, 3221, 3222, 3223, 3224, 3225, 3226, 3227, 3228, 3229, 3230,
             3231, 3232, 3233, 3234, 3235, 3236, 3237, 3238, 3239, 3240, 3241,
             3242, 3243, 3244, 3245, 3246, 3247, 3248, 3249, 3250, 3251, 3252,
             3253, 3254, 3255, 3256, 3257, 3258, 3259, 3260, 3261, 3262, 3263,
             3264, 3265, 3266, 3267, 3268, 3269, 3270, 3271, 3272, 3273, 3274,
             3275, 3276, 3277, 3278, 3279, 3280, 3281, 3282, 3283],
            dtype='int64'),
 14754: Int64Index([270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282,
             283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295,
             296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308,
             309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321,
             322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334,
             335],
            dtype='int64'),
 14755: Int64Index([2507, 2508, 2509, 2510, 2511, 2512, 2513, 2514, 2515, 2516, 2517,
             2518, 2519, 2520, 2521, 2522, 2523, 2524, 2525, 2526, 2527, 2528,
             2529, 2530, 2531, 2532, 2533, 2534, 2535, 2536, 2537, 2538, 2539,
             2540, 2541, 2542, 2543, 2544, 2545, 2546, 2547, 2548, 2549, 2550,
             2551, 2552, 2553, 2554, 2555, 2556, 2557, 2558, 2559, 2560, 2561,
             2562, 2563, 2564, 2565],
            dtype='int64'),
 14756: Int64Index([3357, 3358, 3359, 3360, 3361, 3362, 3363, 3364, 3365, 3366, 3367,
             3368, 3369, 3370, 3371, 3372, 3373, 3374, 3375, 3376, 3377, 3378,
             3379, 3380, 3381, 3382, 3383, 3384, 3385, 3386, 3387, 3388, 3389,
             3390, 3391, 3392, 3393, 3394, 3395, 3396, 3397, 3398],
            dtype='int64'),
 14757: Int64Index([614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
             ...
             709, 710, 711, 712, 713, 714, 715, 716, 717, 718],
            dtype='int64', length=105),
 14758: Int64Index([2985, 2986, 2987, 2988, 2989, 2990, 2991, 2992, 2993, 2994, 2995,
             2996, 2997, 2998, 2999, 3000, 3001, 3002, 3003, 3004, 3005, 3006,
             3007, 3008, 3009, 3010, 3011, 3012, 3013, 3014, 3015, 3016, 3017,
             3018, 3019, 3020, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028,
             3029, 3030, 3031, 3032, 3033, 3034, 3035, 3036, 3037, 3038, 3039,
             3040, 3041, 3042, 3043],
            dtype='int64'),
 14759: Int64Index([3284, 3285, 3286, 3287, 3288, 3289, 3290, 3291, 3292, 3293, 3294,
             3295, 3296, 3297, 3298, 3299, 3300, 3301, 3302, 3303, 3304, 3305,
             3306, 3307, 3308, 3309, 3310, 3311, 3312],
            dtype='int64'),
 14761: Int64Index([5480, 5481, 5482, 5483, 5484, 5485, 5486, 5487, 5488, 5489, 5490,
             5491, 5492, 5493, 5494, 5495, 5496, 5497, 5498, 5499, 5500, 5501,
             5502, 5503, 5504, 5505, 5506, 5507, 5508, 5509, 5510, 5511, 5512,
             5513, 5514, 5515, 5516, 5517, 5518, 5519, 5520, 5521, 5522, 5523,
             5524, 5525, 5526, 5527, 5528, 5529, 5530, 5531, 5532, 5533, 5534,
             5535, 5536, 5537, 5538, 5539, 5540, 5541, 5542, 5543, 5544, 5545,
             5546, 5547, 5548, 5549, 5550, 5551, 5552, 5553, 5554, 5555, 5556,
             5557, 5558, 5559, 5560, 5561, 5562, 5563, 5564, 5565, 5566, 5567,
             5568, 5569, 5570, 5571, 5572, 5573, 5574, 5575],
            dtype='int64'),
 14762: Int64Index([5187, 5188, 5189, 5190, 5191, 5192, 5193, 5194, 5195, 5196, 5197,
             5198, 5199, 5200, 5201, 5202, 5203, 5204, 5205, 5206, 5207, 5208,
             5209, 5210, 5211, 5212, 5213, 5214, 5215, 5216, 5217, 5218, 5219,
             5220, 5221, 5222, 5223, 5224, 5225, 5226, 5227, 5228, 5229, 5230,
             5231, 5232, 5233, 5234, 5235, 5236, 5237, 5238, 5239, 5240, 5241,
             5242],
            dtype='int64'),
 14764: Int64Index([2566, 2567, 2568, 2569, 2570, 2571, 2572, 2573, 2574, 2575, 2576,
             2577, 2578, 2579, 2580, 2581, 2582, 2583, 2584, 2585, 2586, 2587,
             2588, 2589, 2590, 2591, 2592, 2593, 2594, 2595, 2596, 2597, 2598,
             2599, 2600, 2601, 2602, 2603, 2604, 2605, 2606, 2607, 2608, 2609,
             2610, 2611, 2612, 2613, 2614, 2615, 2616, 2617, 2618, 2619, 2620,
             2621, 2622, 2623, 2624, 2625, 2626, 2627, 2628, 2629, 2630, 2631,
             2632, 2633, 2634, 2635, 2636, 2637, 2638, 2639, 2640, 2641, 2642,
             2643, 2644, 2645, 2646, 2647, 2648, 2649, 2650, 2651, 2652, 2653,
             2654, 2655, 2656, 2657, 2658],
            dtype='int64'),
 14765: Int64Index([1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740,
             1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751,
             1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762,
             1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773,
             1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784,
             1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795,
             1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804],
            dtype='int64'),
 14766: Int64Index([2659, 2660, 2661, 2662, 2663, 2664, 2665, 2666, 2667, 2668, 2669,
             2670, 2671, 2672, 2673, 2674, 2675, 2676, 2677, 2678, 2679, 2680,
             2681, 2682, 2683, 2684, 2685, 2686, 2687, 2688, 2689, 2690, 2691,
             2692, 2693, 2694, 2695, 2696, 2697, 2698, 2699, 2700, 2701, 2702,
             2703, 2704, 2705, 2706, 2707, 2708, 2709, 2710, 2711, 2712, 2713,
             2714, 2715],
            dtype='int64'),
 14767: Int64Index([4502, 4503, 4504, 4505, 4506, 4507, 4508, 4509, 4510, 4511, 4512,
             4513, 4514, 4515, 4516, 4517, 4518, 4519, 4520, 4521, 4522, 4523,
             4524, 4525, 4526, 4527, 4528, 4529, 4530, 4531, 4532, 4533, 4534,
             4535, 4536, 4537, 4538, 4539, 4540, 4541, 4542, 4543, 4544, 4545,
             4546, 4547, 4548, 4549, 4550, 4551, 4552, 4553, 4554, 4555, 4556,
             4557, 4558, 4559, 4560, 4561, 4562, 4563, 4564, 4565, 4566, 4567,
             4568, 4569, 4570, 4571, 4572, 4573, 4574, 4575, 4576, 4577, 4578,
             4579, 4580, 4581, 4582, 4583, 4584, 4585, 4586, 4587, 4588, 4589,
             4590],
            dtype='int64'),
 14768: Int64Index([ 941,  942,  943,  944,  945,  946,  947,  948,  949,  950,  951,
              952,  953,  954,  955,  956,  957,  958,  959,  960,  961,  962,
              963,  964,  965,  966,  967,  968,  969,  970,  971,  972,  973,
              974,  975,  976,  977,  978,  979,  980,  981,  982,  983,  984,
              985,  986,  987,  988,  989,  990,  991,  992,  993,  994,  995,
              996,  997,  998,  999, 1000, 1001, 1002, 1003, 1004, 1005, 1006,
             1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017,
             1018, 1019, 1020],
            dtype='int64'),
 14769: Int64Index([821, 822, 823, 824, 825, 826, 827, 828, 829, 830,
             ...
             931, 932, 933, 934, 935, 936, 937, 938, 939, 940],
            dtype='int64', length=120),
 14770: Int64Index([3469, 3470, 3471, 3472, 3473, 3474, 3475, 3476, 3477, 3478,
             ...
             3566, 3567, 3568, 3569, 3570, 3571, 3572, 3573, 3574, 3575],
            dtype='int64', length=107),
 14771: Int64Index([1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369,
             1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380,
             1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391,
             1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402,
             1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413],
            dtype='int64'),
 14772: Int64Index([1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642,
             1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653,
             1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664,
             1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675,
             1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686,
             1687],
            dtype='int64'),
 14773: Int64Index([3645, 3646, 3647, 3648, 3649, 3650, 3651, 3652, 3653, 3654, 3655,
             3656, 3657, 3658, 3659, 3660, 3661, 3662, 3663, 3664, 3665, 3666,
             3667, 3668, 3669, 3670, 3671, 3672, 3673, 3674, 3675, 3676, 3677,
             3678, 3679],
            dtype='int64'),
 14774: Int64Index([1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197,
             1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208,
             1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216],
            dtype='int64'),
 14775: Int64Index([2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108,
             ...
             2194, 2195, 2196, 2197, 2198, 2199, 2200, 2201, 2202, 2203],
            dtype='int64', length=105),
 14777: Int64Index([1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305,
             1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316,
             1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327,
             1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338,
             1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349,
             1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358],
            dtype='int64'),
 14778: Int64Index([5602, 5603, 5604, 5605, 5606, 5607, 5608, 5609, 5610, 5611, 5612,
             5613, 5614, 5615, 5616, 5617, 5618, 5619, 5620, 5621, 5622, 5623,
             5624, 5625, 5626, 5627, 5628, 5629, 5630, 5631, 5632, 5633, 5634,
             5635, 5636, 5637, 5638, 5639, 5640, 5641, 5642, 5643, 5644, 5645,
             5646, 5647, 5648, 5649, 5650, 5651, 5652, 5653, 5654, 5655, 5656,
             5657, 5658, 5659, 5660, 5661, 5662, 5663, 5664, 5665, 5666, 5667,
             5668, 5669, 5670, 5671, 5672, 5673, 5674, 5675, 5676, 5677, 5678,
             5679, 5680, 5681, 5682, 5683, 5684, 5685, 5686, 5687, 5688, 5689,
             5690, 5691, 5692, 5693, 5694, 5695, 5696, 5697, 5698, 5699],
            dtype='int64'),
 14781: Int64Index([4345, 4346, 4347, 4348, 4349, 4350, 4351, 4352, 4353, 4354,
             ...
             4439, 4440, 4441, 4442, 4443, 4444, 4445, 4446, 4447, 4448],
            dtype='int64', length=104),
 14784: Int64Index([5079, 5080, 5081, 5082, 5083, 5084, 5085, 5086, 5087, 5088, 5089,
             5090, 5091, 5092, 5093, 5094, 5095, 5096, 5097, 5098, 5099, 5100,
             5101, 5102, 5103, 5104, 5105, 5106, 5107, 5108, 5109, 5110, 5111,
             5112, 5113, 5114, 5115, 5116],
            dtype='int64'),
 14785: Int64Index([5376, 5377, 5378, 5379, 5380, 5381, 5382, 5383, 5384, 5385, 5386,
             5387, 5388, 5389, 5390, 5391, 5392, 5393, 5394, 5395, 5396, 5397,
             5398, 5399, 5400, 5401, 5402, 5403, 5404, 5405],
            dtype='int64'),
 14787: Int64Index([3833, 3834, 3835, 3836, 3837, 3838, 3839, 3840, 3841, 3842, 3843,
             3844, 3845, 3846, 3847, 3848, 3849, 3850, 3851, 3852, 3853, 3854,
             3855, 3856, 3857, 3858, 3859],
            dtype='int64'),
 14788: Int64Index([5274, 5275, 5276, 5277, 5278, 5279, 5280, 5281, 5282, 5283,
             ...
             5366, 5367, 5368, 5369, 5370, 5371, 5372, 5373, 5374, 5375],
            dtype='int64', length=102),
 14789: Int64Index([4449, 4450, 4451, 4452, 4453, 4454, 4455, 4456, 4457, 4458, 4459,
             4460, 4461, 4462, 4463, 4464, 4465, 4466, 4467, 4468, 4469, 4470,
             4471, 4472, 4473, 4474, 4475, 4476, 4477, 4478, 4479, 4480, 4481,
             4482, 4483, 4484, 4485, 4486, 4487, 4488, 4489, 4490, 4491, 4492,
             4493, 4494, 4495, 4496, 4497, 4498, 4499, 4500, 4501],
            dtype='int64'),
 14793: Int64Index([4145, 4146, 4147, 4148, 4149, 4150, 4151, 4152, 4153, 4154, 4155,
             4156, 4157, 4158, 4159, 4160, 4161, 4162, 4163, 4164, 4165, 4166,
             4167, 4168, 4169, 4170, 4171, 4172, 4173, 4174, 4175, 4176, 4177,
             4178, 4179, 4180, 4181, 4182, 4183, 4184, 4185, 4186, 4187, 4188,
             4189, 4190, 4191, 4192, 4193, 4194, 4195, 4196, 4197, 4198, 4199,
             4200, 4201, 4202, 4203, 4204, 4205, 4206, 4207, 4208, 4209, 4210,
             4211, 4212, 4213, 4214, 4215, 4216, 4217],
            dtype='int64'),
 14794: Int64Index([4925, 4926, 4927, 4928, 4929, 4930, 4931, 4932, 4933, 4934, 4935,
             4936, 4937, 4938, 4939, 4940, 4941, 4942, 4943, 4944, 4945, 4946,
             4947, 4948, 4949, 4950, 4951, 4952, 4953, 4954, 4955, 4956, 4957,
             4958, 4959, 4960, 4961, 4962, 4963, 4964, 4965, 4966, 4967, 4968,
             4969, 4970],
            dtype='int64'),
 14796: Int64Index([4256, 4257, 4258, 4259, 4260, 4261, 4262, 4263, 4264, 4265, 4266,
             4267, 4268, 4269, 4270, 4271, 4272, 4273, 4274, 4275, 4276, 4277,
             4278, 4279, 4280, 4281, 4282, 4283, 4284, 4285, 4286, 4287, 4288,
             4289, 4290, 4291, 4292, 4293, 4294, 4295, 4296, 4297, 4298, 4299,
             4300, 4301, 4302, 4303, 4304, 4305, 4306, 4307, 4308, 4309, 4310,
             4311, 4312, 4313, 4314, 4315, 4316, 4317, 4318, 4319, 4320, 4321,
             4322, 4323, 4324, 4325, 4326, 4327, 4328, 4329, 4330, 4331, 4332,
             4333, 4334, 4335, 4336, 4337, 4338, 4339, 4340, 4341, 4342, 4343,
             4344],
            dtype='int64'),
 14798: Int64Index([336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348,
             349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361,
             362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374,
             375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387,
             388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400,
             401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413,
             414, 415],
            dtype='int64'),
 14800: Int64Index([1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276,
             1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287,
             1288, 1289, 1290, 1291, 1292, 1293, 1294],
            dtype='int64'),
 14801: Int64Index([1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227,
             1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238,
             1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249,
             1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260,
             1261, 1262, 1263, 1264, 1265],
            dtype='int64'),
 14802: Int64Index([1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851,
             1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862,
             1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873,
             1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884,
             1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895,
             1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906,
             1907, 1908, 1909, 1910, 1911],
            dtype='int64'),
 14803: Int64Index([5700, 5701, 5702, 5703, 5704, 5705, 5706, 5707, 5708, 5709, 5710,
             5711, 5712, 5713, 5714, 5715, 5716, 5717, 5718, 5719, 5720, 5721,
             5722, 5723, 5724, 5725, 5726, 5727, 5728, 5729, 5730, 5731, 5732,
             5733, 5734, 5735, 5736, 5737, 5738, 5739, 5740, 5741, 5742, 5743,
             5744, 5745, 5746, 5747, 5748, 5749, 5750, 5751, 5752, 5753, 5754,
             5755, 5756, 5757, 5758, 5759, 5760, 5761, 5762, 5763, 5764, 5765,
             5766, 5767, 5768, 5769, 5770, 5771, 5772, 5773, 5774, 5775, 5776],
            dtype='int64'),
 14804: Int64Index([3576, 3577, 3578, 3579, 3580, 3581, 3582, 3583, 3584, 3585, 3586,
             3587, 3588, 3589, 3590, 3591, 3592, 3593, 3594, 3595, 3596, 3597,
             3598, 3599, 3600, 3601, 3602, 3603, 3604, 3605, 3606, 3607, 3608,
             3609, 3610, 3611, 3612, 3613, 3614, 3615, 3616, 3617, 3618, 3619,
             3620, 3621, 3622, 3623, 3624, 3625, 3626, 3627, 3628, 3629, 3630,
             3631, 3632, 3633, 3634, 3635, 3636, 3637, 3638, 3639, 3640, 3641,
             3642, 3643, 3644],
            dtype='int64'),
 14806: Int64Index([5406, 5407, 5408, 5409, 5410, 5411, 5412, 5413, 5414, 5415, 5416,
             5417, 5418, 5419, 5420, 5421, 5422, 5423, 5424, 5425, 5426, 5427,
             5428, 5429, 5430, 5431, 5432, 5433, 5434, 5435, 5436, 5437, 5438,
             5439, 5440, 5441, 5442, 5443, 5444, 5445, 5446, 5447, 5448, 5449,
             5450, 5451, 5452, 5453, 5454, 5455, 5456, 5457, 5458, 5459, 5460,
             5461, 5462, 5463, 5464, 5465, 5466, 5467, 5468, 5469, 5470, 5471,
             5472, 5473, 5474, 5475, 5476, 5477, 5478, 5479],
            dtype='int64'),
 14807: Int64Index([5029, 5030, 5031, 5032, 5033, 5034, 5035, 5036, 5037, 5038, 5039,
             5040, 5041, 5042, 5043, 5044, 5045, 5046, 5047, 5048, 5049, 5050,
             5051, 5052, 5053, 5054, 5055, 5056, 5057, 5058, 5059, 5060, 5061,
             5062, 5063, 5064, 5065, 5066, 5067, 5068, 5069, 5070, 5071, 5072,
             5073, 5074, 5075, 5076, 5077, 5078],
            dtype='int64'),
 14808: Int64Index([3089, 3090, 3091, 3092, 3093, 3094, 3095, 3096, 3097, 3098,
             ...
             3210, 3211, 3212, 3213, 3214, 3215, 3216, 3217, 3218, 3219],
            dtype='int64', length=131),
 14809: Int64Index([4690, 4691, 4692, 4693, 4694, 4695, 4696, 4697, 4698, 4699, 4700,
             4701, 4702, 4703, 4704, 4705, 4706, 4707, 4708, 4709, 4710, 4711,
             4712, 4713, 4714, 4715, 4716, 4717, 4718, 4719, 4720, 4721, 4722,
             4723, 4724, 4725, 4726, 4727, 4728, 4729, 4730, 4731, 4732, 4733,
             4734, 4735, 4736, 4737, 4738, 4739, 4740, 4741, 4742, 4743, 4744,
             4745, 4746, 4747, 4748, 4749, 4750],
            dtype='int64'),

Getting no. of unique values in the column 'data'.

In [93]:
data = df['data'].unique().tolist()

Iterating the list to print the next row to Invoice No. to get the invoice no. Not in all the cases, the invoice no. is located 
in the row next to the one having entry 'Invoice No.' Same applies to the other features we are after.

In [98]:
for i in data:
    index = df.index[(df['data']==i) & (df['groups']=='Invoice No.')].tolist()[0] + 1
    df.loc[[index]]

Now, getting the dates.

In [40]:
for i in data:
        print(df[(df['data']==i) & (df['groups']=='Dated')])

    groups                      type   data  label  \
280  Dated  (date, text, 2337, 1653)  14754      0

                                            coords
280  [1250.0, 350.0, 1315.0, 369.0, 1282.5, 359.5]
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
     groups                      type   data  label  \
2720  Dated  (date, text, 2337, 1653)  14834      0
2730  Dated  (date, text, 2337, 1653)  14834      0

                                             coords
2720  [1105.0, 191.0, 1163.0, 211.0, 1134.0, 201.0]
2730  [1106.0, 324.0, 1164.0, 344.0, 1135.0, 334.0]
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
     groups                      type   data  label  \
3230  Dated  (date, text, 2337, 1653)  14753      0

                                             coords
3230  [1181.0, 466.0, 1236.0, 486.0, 1208.5, 476.0]
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
     groups                      type   data  label  \
3753  Dated  (date, text, 2337, 1653)  14829      0

                                             coords
3753  [1236.0, 482.0, 1291.0, 502.0, 1263.5, 492.0]
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
     groups                      type   data  label  \
4063  Dated  (date, text, 2337, 1653)  14833      0
4077  Dated  (date, text, 2337, 1653)  14833      0

                                             coords
4063  [1082.0, 157.0, 1139.0, 178.0, 1110.5, 167.5]
4077  [1071.0, 353.0, 1138.0, 371.0, 1104.5, 362.0]
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
     groups                      type   data  label  \
4651  Dated  (date, text, 2337, 1653)  14828      0

                                             coords
4651  [1215.0, 465.0, 1270.0, 486.0, 1242.5, 475.5]
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
     groups                      type   data  label  \
4767  Dated  (date, text, 2337, 1653)  14827      0

                                             coords
4767  [1219.0, 442.0, 1275.0, 460.0, 1247.0, 451.0]
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
     groups                      type   data  label  \
5134  Dated  (date, text, 2338, 1700)  14743      0
5140  Dated  (date, text, 2338, 1700)  14743      0

                                             coords
5134  [1106.0, 356.0, 1164.0, 371.0, 1135.0, 363.5]
5140  [1105.0, 420.0, 1162.0, 435.0, 1133.5, 427.5]
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []
Empty DataFrame
Columns: [groups, type, data, label, coords]
Index: []

We find the data for the rows having GST information.

In [89]:
import re
df[df.groups.str.contains('GSTIN', flags=re.IGNORECASE, regex=True)]

,groups,type,data,label,coords
313,Company's GSTIN,"(compani gstin, text,text, 2337, 1653)",14754,0,"[163.0, 1426.0, 358.0, 1441.0, 260.5, 1433.5]"
350,Kind Attn :- Polestar Solutions and Services I...,(kind attn polestar solut servic india privat ...,14798,8,"[222.0, 638.0, 2080.0, 671.0, 1151.0, 654.5]"
383,CODE GSTIN,"(code gstin, text,text, 3508, 2479)",14798,0,"[241.0, 2560.0, 487.0, 2590.0, 364.0, 2575.0]"
385,GSTIN,"(gstin, text, 3508, 2479)",14798,0,"[1437.0, 2560.0, 1545.0, 2588.0, 1491.0, 2574.0]"
725,GSTIN /UIN:09APEPK4607G1ZZ,"(gstin uin:09apepk4607g1zz, text,text, 2964, 2...",14752,14,"[130.0, 386.0, 749.0, 423.0, 439.5, 404.5]"
731,GSTIN / UIN 09AACCV4135G1ZD,"(gstin uin 09aaccv4135g1zd, text,text,text, 29...",14752,8,"[131.0, 729.0, 753.0, 770.0, 442.0, 749.5]"
839,GSTIN:09AACCI2053A1Z5,"(gstin:09aacci2053a1z5, text, 3508, 2479)",14769,14,"[1527.0, 878.0, 1979.0, 905.0, 1753.0, 891.5]"
955,Kind Attn :- Polestar Solutions and Services I...,(kind attn polestar solut servic india privat ...,14768,0,"[222.0, 638.0, 2080.0, 671.0, 1151.0, 654.5]"
988,CODE GSTIN,"(code gstin, text,text, 3508, 2479)",14768,0,"[241.0, 2560.0, 487.0, 2590.0, 364.0, 2575.0]"
990,GSTIN,"(gstin, text, 3508, 2479)",14768,0,"[1437.0, 2560.0, 1545.0, 2588.0, 1491.0, 2574.0]"
1104,GSTIN: 33AAACZ4322M1ZA,"(gstin 33aaacz4322m1za, text,text, 3507, 2481)",14821,14,"[1924.0, 806.0, 2247.0, 824.0, 2085.5, 815.0]"
1120,GSTIN: 09AAJCP1487E1Z7,"(gstin 09aajcp1487e1z7, text,text, 3507, 2481)",14821,8,"[291.0, 1359.0, 603.0, 1377.0, 447.0, 1368.0]"
1216,GSTIN: 07AABCU6223H1ZG,"(gstin 07aabcu6223h1zg, text,text, 3508, 2480)",14774,0,"[1022.0, 3124.0, 1455.0, 3149.0, 1238.5, 3136.5]"
1223,GSTIN: 07AAACX0804A1Z1,"(gstin 07aaacx0804a1z1, text,text, 3300, 2550)",14801,14,"[815.0, 570.0, 1337.0, 603.0, 1076.0, 586.5]"
1234,GSTIN: 09AACCV4135G1ZD,"(gstin 09aaccv4135g1zd, text,text, 3300, 2550)",14801,8,"[275.0, 1100.0, 817.0, 1132.0, 546.0, 1116.0]"
1275,GSTIN 07AAFCT171601ZY,"(gstin 07aafct171601zi, text,text, 3300, 2550)",14800,8,"[185.0, 989.0, 729.0, 1021.0, 457.0, 1005.0]"
1289,GSTIN: 09AABCW5305N1z0,"(gstin 09aabcw5305n1z0, text,text, 3300, 2550)",14800,0,"[741.0, 2658.0, 1370.0, 2690.0, 1055.5, 2674.0]"
1410,"Hollyhill Industrial Estate, Hollyhill, Cork, ...",(hollyhil industri estat hollyhil cork ireland...,14771,0,"[465.0, 2802.0, 2024.0, 2837.0, 1244.5, 2819.5]"
1470,GSTIN/UIN: 09ASBPP0212G1Z6,"(gstin/uin 09asbpp0212g1z6, text,text, 3300, 2...",14813,14,"[380.0, 301.0, 1003.0, 321.0, 691.5, 311.0]"
1487,GSTIN/UIN,"(gstin/uin, text, 3300, 2550)",14813,0,"[75.0, 580.0, 283.0, 608.0, 179.0, 594.0]"
1507,GSTIN/UIN,"(gstin/uin, text, 3300, 2550)",14813,0,"[78.0, 850.0, 287.0, 877.0, 182.5, 863.5]"
1643,GSTIN,"(gstin, text, 3300, 2550)",14772,0,"[306.0, 912.0, 420.0, 941.0, 363.0, 926.5]"
1656,GSTIN (Receiver): 09AAJCP1487E1Z7,"(gstin receiv 09aajcp1487e1z7, text,text,text,...",14772,8,"[1450.0, 1213.0, 2201.0, 1243.0, 1825.5, 1228.0]"
1861,GSTIN,"(gstin, text, 3507, 2550)",14802,0,"[1193.0, 847.0, 1294.0, 872.0, 1243.5, 859.5]"
1871,GSTIN:,"(gstin, text, 3507, 2550)",14802,0,"[83.0, 969.0, 193.0, 994.0, 138.0, 981.5]"
1929,"999794(cancellation fee), GSTIN:","(999794(cancel fee gstin, text,text,text, 3508...",14824,0,"[1541.0, 842.0, 2133.0, 873.0, 1837.0, 857.5]"
1946,GSTIN 06AAGCC4236P1ZD,"(gstin 06aagcc4236p1zd, text,text, 3508, 2479)",14811,0,"[47.0, 262.0, 515.0, 291.0, 281.0, 276.5]"
2138,Cust GSTIN,"(custom gstin, text,text, 3300, 2550)",14775,0,"[360.0, 1106.0, 508.0, 1128.0, 434.0, 1117.0]"
2220,GSTIN/Unique ID: 09AACCV4135G1ZD,"(gstin/uniqu id 09aaccv4135g1zd, text,text,tex...",14817,8,"[256.0, 938.0, 847.0, 963.0, 551.5, 950.5]"
2241,GSTIN:,"(gstin, text, 3508, 2480)",14817,0,"[250.0, 1810.0, 356.0, 1836.0, 303.0, 1823.0]"
2269,"999794(cancellation fee), GSTIN:","(999794(cancel fee gstin, text,text,text, 3508...",14823,0,"[1541.0, 842.0, 2133.0, 873.0, 1837.0, 857.5]"
2990,GSTIN: 07AACCO3825A1ZX (DELHI),"(gstin 07aacco3825a1zx delhi, text,text,text, ...",14758,14,"[1880.0, 349.0, 2389.0, 378.0, 2134.5, 363.5]"
3002,GSTIN : 06AADCP9391B1ZE,"(gstin 06aadcp9391b1z, text,text, 3504, 2479)",14758,14,"[126.0, 699.0, 575.0, 720.0, 350.5, 709.5]"
3095,GSTIN-09AAACN4984D1ZC HSN 9969,"(gstin-09aaacn4984d1zc hsn number, text,text,n...",14808,14,"[777.0, 251.0, 1244.0, 269.0, 1010.5, 260.0]"
3260,Company's GSTIN,"(compani gstin, text,text, 2337, 1653)",14753,0,"[224.0, 1378.0, 394.0, 1397.0, 309.0, 1387.5]"
3262,Buyer's GSTIN,"(buyer gstin, text,text, 2337, 1653)",14753,0,"[224.0, 1435.0, 359.0, 1454.0, 291.5, 1444.5]"
3356,"Hollyhill Industrial Estate, Hollyhill, Cork, ...",(hollyhil industri estat hollyhil cork ireland...,14744,0,"[84.0, 725.0, 611.0, 734.0, 347.5, 729.5]"
3363,GSTIN : 09AABCW5305N1Z0,"(gstin 09aabcw5305n1z0, text,text, 1100, 828)",14756,14,"[24.0, 223.0, 226.0, 234.0, 125.0, 228.5]"
3372,GSTIN : 06AAGCM1825N1ZA,"(gstin 06aagcm1825n1za, text,text, 1100, 828)",14756,8,"[24.0, 403.0, 231.0, 414.0, 127.5, 408.5]"
3407,GSTIN 09AAICR3508B1ZM Invoice Date 06/10/2017,"(gstin 09aaicr3508b1zm invoic date date, text,...",14831,14,"[1015.0, 786.0, 1476.0, 811.0, 1245.5, 798.5]"
3434,Customer GSTIN,"(custom gstin, text,text, 2337, 1653)",14831,0,"[158.0, 981.0, 277.0, 995.0, 217.5, 988.0]"
3488,GSTIN: 09AACCI2053A1Z5,"(gstin 09aacci2053a1z5, text,text, 3508, 2479)",14770,8,"[1527.0, 832.0, 1977.0, 859.0, 1752.0, 845.5]"
3581,GSTIN 09BFPPA9341K1ZO,"(gstin 09bfppa9341k1zo, text,text, 3507, 2481)",14804,0,"[193.0, 469.0, 632.0, 496.0, 412.5, 482.5]"
3592,GSTIN 09AAJCP1487E1Z7,"(gstin 09aajcp1487e1z7, text,text, 3507, 2481)",14804,8,"[193.0, 960.0, 629.0, 987.0, 411.0, 973.5]"
3638,GSTIN No: 09BFPPA9341K1ZO,"(gstin number 09bfppa9341k1zo, text,text,text,...",14804,0,"[190.0, 2964.0, 640.0, 2989.0, 415.0, 2976.5]"
3679,GSTIN: 09AABCU6223H2ZB,"(gstin 09aabcu6223h2zb, text,text, 3508, 2480)",14773,14,"[1024.0, 3124.0, 1454.0, 3149.0, 1239.0, 3136.5]"
3691,GSTIN,"(gstin, text, 3300, 2550)",14818,0,"[306.0, 912.0, 420.0, 941.0, 363.0, 926.5]"
3704,GSTIN (Receiver): 09AAJCP1487E1Z7,"(gstin receiv 09aajcp1487e1z7, text,text,text,...",14818,8,"[1450.0, 1213.0, 2201.0, 1243.0, 1825.5, 1228.0]"
3881,GSTIN No : 07AAECS2980AIZL,"(gstin number 07aaecs2980aizl, text,text,text,...",14832,14,"[102.0, 649.0, 313.0, 660.0, 207.5, 654.5]"
3884,GSTIN No,"(gstin number, text,text, 2337, 1653)",14832,0,"[510.0, 644.0, 577.0, 657.0, 543.5, 650.5]"
3967,GSTIN: 09AACCP7457K1ZV,"(gstin 09aaccp7457k1zv, text,text, 3507, 2481)",14810,14,"[131.0, 462.0, 568.0, 489.0, 349.5, 475.5]"
3979,GSTIN/UID: 06ACBPC6720A1ZH,"(gstin/uid 06acbpc6720a1zh, text,text, 3507, 2...",14810,8,"[131.0, 845.0, 633.0, 872.0, 382.0, 858.5]"
3986,GSTIN/UID 06ACBPC6720A1ZH,"(gstin/uid 06acbpc6720a1zh, text,text, 3507, 2...",14810,0,"[1304.0, 845.0, 1800.0, 872.0, 1552.0, 858.5]"
4037,State GSTIN: 09AAJCA1389G1ZH,"(state gstin 09aajca1389g1zh, text,text,text, ...",14748,14,"[1005.0, 199.0, 1301.0, 213.0, 1153.0, 206.0]"
4169,GSTIN:-09AACCV4135G1ZD,"(gstin:-09aaccv4135g1zd, text, 3071, 2480)",14793,0,"[116.0, 925.0, 574.0, 950.0, 345.0, 937.5]"
4211,GSTIN :- 09AAAC11838D1ZU,"(gstin 09aaac11838d1zu, text,text, 3071, 2480)",14793,0,"[133.0, 2330.0, 596.0, 2356.0, 364.5, 2343.0]"
4225,GSTIN #: 9917,"(gstin number number, text,text,number, 890, 670)",14751,14,"[462.0, 100.0, 545.0, 109.0, 503.5, 104.5]"
4236,GSTIN #: O9AABCW5305N1Z0,"(gstin number o9aabcw5305n1z0, text,text,text,...",14751,8,"[61.0, 364.0, 251.0, 374.0, 156.0, 369.0]"
4270,Kind Attn :- Polestar Solutions and Services I...,(kind attn polestar solut servic india privat ...,14796,8,"[222.0, 638.0, 2080.0, 671.0, 1151.0, 654.5]"
4314,CODE GSTIN,"(code gstin, text,text, 3508, 2479)",14796,0,"[241.0, 2552.0, 487.0, 2581.0, 364.0, 2566.5]"
4316,GSTIN,"(gstin, text, 3508, 2479)",14796,0,"[1437.0, 2552.0, 1545.0, 2581.0, 1491.0, 2566.5]"
4368,Customer GSTIN:,"(custom gstin, text,text, 3508, 2475)",14781,0,"[130.0, 561.0, 393.0, 586.0, 261.5, 573.5]"
4516,Kind Attn :- Polestar Solutions and Services I...,(kind attn polestar solut servic india privat ...,14767,8,"[222.0, 638.0, 2080.0, 671.0, 1151.0, 654.5]"
4560,CODE GSTIN,"(code gstin, text,text, 3508, 2479)",14767,0,"[241.0, 2552.0, 487.0, 2581.0, 364.0, 2566.5]"
4562,GSTIN,"(gstin, text, 3508, 2479)",14767,0,"[1437.0, 2552.0, 1545.0, 2581.0, 1491.0, 2566.5]"
4740,GSTIN,"(gstin, text, 4961, 3508)",14809,0,"[545.0, 2456.0, 645.0, 2482.0, 595.0, 2469.0]"
5191,GSTIN 23AAACW9768L1ZO,"(gstin 23aaacw9768l1zo, text,text, 3508, 2480)",14762,14,"[150.0, 346.0, 705.0, 378.0, 427.5, 362.0]"
5296,Customer GSTIN : Not Available,"(custom gstin avail, text,text,text, 3508, 2475)",14788,0,"[736.0, 1019.0, 1253.0, 1038.0, 994.5, 1028.5]"
5413,GSTIN No.: 06AADCM5146R1ZZ,"(gstin number 06aadcm5146r1zz, text,text,text,...",14806,0,"[298.0, 758.0, 911.0, 790.0, 604.5, 774.0]"
5415,GSTIN No.:,"(gstin number, text,text, 3300, 2550)",14806,0,"[1651.0, 592.0, 1868.0, 623.0, 1759.5, 607.5]"
5493,GSTIN: 33AAACZ4322M1ZA,"(gstin 33aaacz4322m1za, text,text, 3507, 2481)",14761,0,"[1924.0, 806.0, 2247.0, 824.0, 2085.5, 815.0]"
5509,GSTIN: 09AAJCP1487E1Z7,"(gstin 09aajcp1487e1z7, text,text, 3507, 2481)",14761,8,"[291.0, 1359.0, 603.0, 1377.0, 447.0, 1368.0]"

We find the data for the rows having amount information.

In [94]:
import re
df[df.groups.str.contains('amount', flags=re.IGNORECASE, regex=True)]

,groups,type,data,label,coords
302,Amount,"(amount, text, 2337, 1653)",14754,0,"[1412.0, 733.0, 1506.0, 752.0, 1459.0, 742.5]"
311,Amount Chargeable (in words),"(amount chargeabl word, text,text,text, 2337, ...",14754,0,"[163.0, 1290.0, 503.0, 1313.0, 333.0, 1301.5]"
354,Total Amount.,"(total amount, text,text, 3508, 2479)",14798,0,"[1901.0, 748.0, 2221.0, 775.0, 2061.0, 761.5]"
365,Net Amount (Rs.,"(net amount rs, text,text,text, 3508, 2479)",14798,0,"[774.0, 1738.0, 1077.0, 1770.0, 925.5, 1754.0]"
403,AMOUNT,"(amount, text, 3508, 2479)",14798,0,"[858.0, 2927.0, 1036.0, 2955.0, 947.0, 2941.0]"
405,AMOUNT,"(amount, text, 3508, 2479)",14798,0,"[1433.0, 2927.0, 1611.0, 2955.0, 1522.0, 2941.0]"
407,AMOUNT,"(amount, text, 3508, 2479)",14798,0,"[1986.0, 2927.0, 2164.0, 2955.0, 2075.0, 2941.0]"
426,Amount,"(amount, text, 3508, 2475)",14822,0,"[2326.0, 452.0, 2420.0, 472.0, 2373.0, 462.0]"
473,5. If the fractional amount in your total bill...,(number fraction amount total bill less number...,14822,0,"[51.0, 2966.0, 1577.0, 2995.0, 814.0, 2980.5]"
634,Amount Payable,"(amount payabl, text,text, 3508, 2483)",14757,0,"[1714.0, 832.0, 1957.0, 861.0, 1835.5, 846.5]"
708,Amount(Rs.),"(amount(r, text, 3508, 2483)",14757,0,"[1858.0, 2612.0, 2007.0, 2637.0, 1932.5, 2624.5]"
709,Amount Payable By Due Date :1.632.00,"(amount payabl due date money, text,text,text,...",14757,0,"[114.0, 2798.0, 704.0, 2829.0, 409.0, 2813.5]"
710,Amount Payable After Due Date:,"(amount payabl due date, text,text,text,text, ...",14757,0,"[114.0, 2831.0, 507.0, 2851.0, 310.5, 2841.0]"
745,Amount,"(amount, text, 2964, 2424)",14752,0,"[2201.0, 852.0, 2353.0, 881.0, 2277.0, 866.5]"
764,"Total Amount Before Tax (Rs. 6,560.00","(total amount befor tax rs money, text,text,te...",14752,0,"[1560.0, 1440.0, 2373.0, 1481.0, 1966.5, 1460.5]"
770,"Total Amount Including Tax (Rs.)7,741.00","(total amount includ tax rs.)7,741.00, text,te...",14752,18,"[1512.0, 1790.0, 2381.0, 1827.0, 1946.5, 1808.5]"
778,Amount,"(amount, text, 2964, 2424)",14752,0,"[1687.0, 2021.0, 1840.0, 2051.0, 1763.5, 2036.0]"
780,Amount,"(amount, text, 2964, 2424)",14752,0,"[2201.0, 2020.0, 2351.0, 2049.0, 2276.0, 2034.5]"
785,Amount,"(amount, text, 2964, 2424)",14752,0,"[1178.0, 2023.0, 1330.0, 2053.0, 1254.0, 2038.0]"
864,Amount |Amount of goods,"(amount amount good, text,text,text, 3508, 2479)",14769,0,"[1810.0, 1598.0, 2261.0, 1633.0, 2035.5, 1615.5]"
959,Total Amount.,"(total amount, text,text, 3508, 2479)",14768,0,"[1901.0, 748.0, 2221.0, 775.0, 2061.0, 761.5]"
970,Net Amount (Rs.,"(net amount rs, text,text,text, 3508, 2479)",14768,0,"[774.0, 1738.0, 1077.0, 1770.0, 925.5, 1754.0]"
1008,AMOUNT,"(amount, text, 3508, 2479)",14768,0,"[858.0, 2927.0, 1036.0, 2955.0, 947.0, 2941.0]"
1010,AMOUNT,"(amount, text, 3508, 2479)",14768,0,"[1433.0, 2927.0, 1611.0, 2955.0, 1522.0, 2941.0]"
1012,AMOUNT,"(amount, text, 3508, 2479)",14768,0,"[1986.0, 2927.0, 2164.0, 2955.0, 2075.0, 2941.0]"
1138,Amount,"(amount, text, 3507, 2481)",14821,0,"[2145.0, 1792.0, 2236.0, 1809.0, 2190.5, 1800.5]"
1196,Amount,"(amount, text, 3508, 2480)",14774,0,"[1887.0, 726.0, 2020.0, 753.0, 1953.5, 739.5]"
1199,Net Amount,"(net amount, text,text, 3508, 2480)",14774,0,"[2135.0, 726.0, 2334.0, 753.0, 2234.5, 739.5]"
1207,Total IGST Amount,"(total igst amount, text,text,text, 3508, 2480)",14774,0,"[1718.0, 1055.0, 2020.0, 1082.0, 1869.0, 1068.5]"
1208,Gross Amount,"(gross amount, text,text, 3508, 2480)",14774,0,"[1795.0, 1139.0, 2020.0, 1166.0, 1907.5, 1152.5]"
1240,TAX AMOUNT,"(tax amount, text,text, 3300, 2550)",14801,0,"[1972.0, 1435.0, 2268.0, 1465.0, 2120.0, 1450.0]"
1330,Amount,"(amount, text, 3508, 2479)",14777,0,"[1990.0, 1682.0, 2096.0, 1700.0, 2043.0, 1691.0]"
1346,Amount in words: SEVEN THOUSAND ONE HUNDRED FI...,(amount word seven thousand one hundr fifti se...,14777,0,"[234.0, 2235.0, 1470.0, 2207.0, 852.0, 2221.0]"
1521,Amount,"(amount, text, 3300, 2550)",14813,0,"[1999.0, 1166.0, 2131.0, 1190.0, 2065.0, 1178.0]"
1538,Amount Chargeable (in words),"(amount chargeabl word, text,text,text, 3300, ...",14813,0,"[98.0, 2397.0, 559.0, 2422.0, 328.5, 2409.5]"
1544,RateAmount Rate Amount Tax Amount,"(rateamount rate amount tax amount, text,text,...",14813,0,"[1311.0, 2528.0, 2215.0, 2548.0, 1763.0, 2538.0]"
1550,Tax Amount (in words): INR Three Thousand Five...,(tax amount word inr three thousand five hundr...,14813,0,"[101.0, 2679.0, 1918.0, 2699.0, 1009.5, 2689.0]"
1664,Amount,"(amount, text, 3300, 2550)",14772,0,"[2027.0, 1355.0, 2190.0, 1384.0, 2108.5, 1369.5]"
1678,Amount in words: Rupees One Thousand Seven Hun...,"(amount word rupe one thousand seven hundr, te...",14772,0,"[299.0, 2049.0, 1470.0, 2079.0, 884.5, 2064.0]"
1711,Amount,"(amount, text, 2337, 1653)",14830,0,"[1335.0, 854.0, 1422.0, 890.0, 1378.5, 872.0]"
1769,Amount Rate Type Amount Amount,"(amount rate type amount amount, text,text,tex...",14765,0,"[1523.0, 1566.0, 2258.0, 1601.0, 1890.5, 1583.5]"
1801,Amount in Words:,"(amount word, text,text, 3510, 2490)",14765,0,"[181.0, 2692.0, 580.0, 2726.0, 380.5, 2709.0]"
1820,Amount (INR),"(amount inr, text,text, 2339, 1653)",14747,0,"[1182.0, 710.0, 1303.0, 728.0, 1242.5, 719.0]"
1878,Total Amount Before Tax,"(total amount befor tax, text,text,text,text, ...",14802,0,"[1748.0, 1347.0, 2162.0, 1374.0, 1955.0, 1360.5]"
1882,Amount,"(amount, text, 3507, 2550)",14802,0,"[2323.0, 1226.0, 2463.0, 1253.0, 2393.0, 1239.5]"
1897,AMOUNT IN WORDS (V): Thirty Two Thousand Four ...,(amount word thirti two thousand four hundr fi...,14802,0,"[83.0, 1583.0, 1386.0, 1615.0, 734.5, 1599.0]"
1974,Amount,"(amount, text, 3508, 2479)",14811,0,"[1288.0, 861.0, 1419.0, 884.0, 1353.5, 872.5]"
2167,Amount in Words,"(amount word, text,text, 3300, 2550)",14775,0,"[409.0, 1809.0, 633.0, 1829.0, 521.0, 1819.0]"
2181,Exchange Loyalty Discount Amount is Rs.15000/-.,"(exchang loyalti discount amount rs.15000/-, t...",14775,0,"[512.0, 1994.0, 1190.0, 2023.0, 851.0, 2008.5]"
2227,DiscountAmount (in INR),"(discountamount inr, text,text, 3508, 2480)",14817,0,"[1724.0, 1312.0, 2190.0, 1342.0, 1957.0, 1327.0]"
2247,Amount (in words): Rupees Twenty Three Thousan...,(amount word rupe twenti three thousand one hu...,14817,0,"[250.0, 1918.0, 1296.0, 1943.0, 773.0, 1930.5]"
2302,QTY UNIT PRICE DISCOUNT AMOUNT,"(quantiti unit price discount amount, text,tex...",14837,0,"[894.0, 551.0, 1514.0, 589.0, 1204.0, 570.0]"
2316,Net Amount,"(net amount, text,text, 2337, 1653)",14837,0,"[1146.0, 1554.0, 1279.0, 1573.0, 1212.5, 1563.5]"
2418,Total Amount before Tax,"(total amount befor tax, text,text,text,text, ...",14826,0,"[854.0, 1388.0, 1090.0, 1412.0, 972.0, 1400.0]"
2420,Total Amount including Taxma:,"(total amount includ taxma, text,text,text,tex...",14826,0,"[852.0, 1444.0, 1177.0, 1468.0, 1014.5, 1456.0]"
2427,ーーTotal Amount!,"(ーーtotal amount, text,text, 2337, 1653)",14826,0,"[1011.0, 1524.0, 1201.0, 1536.0, 1106.0, 1530.0]"
2530,QTY UNIT PRICE DISCOUNT AMOUNT,"(quantiti unit price discount amount, text,tex...",14755,0,"[816.0, 570.0, 1447.0, 592.0, 1131.5, 581.0]"
2540,Net Amount,"(net amount, text,text, 2338, 1700)",14755,0,"[1083.0, 1579.0, 1216.0, 1597.0, 1149.5, 1588.0]"
2598,Amount (INR,"(amount inr, text,text, 3508, 2475)",14764,0,"[2041.0, 990.0, 2270.0, 1017.0, 2155.5, 1003.5]"
2614,Total Amount in Words: INR Fifty-One Thousand ...,(total amount word inr fifty-on thousand seven...,14764,0,"[54.0, 1726.0, 1149.0, 1746.0, 601.5, 1736.0]"
2700,Amount Rate Type Amount Amount,"(amount rate type amount amount, text,text,tex...",14766,0,"[1568.0, 1552.0, 2266.0, 1603.0, 1917.0, 1577.5]"
2708,Amount in Words:,"(amount word, text,text, 3510, 2490)",14766,0,"[181.0, 1830.0, 582.0, 1865.0, 381.5, 1847.5]"
2752,Amount,"(amount, text, 2337, 1653)",14834,0,"[1275.0, 734.0, 1352.0, 753.0, 1313.5, 743.5]"
2766,Amount Chargeable (in words),"(amount chargeabl word, text,text,text, 2337, ...",14834,0,"[178.0, 1321.0, 460.0, 1341.0, 319.0, 1331.0]"
2775,Amount,"(amount, text, 2337, 1653)",14834,0,"[877.0, 1418.0, 953.0, 1435.0, 915.0, 1426.5]"
2777,Amount Tax Amount,"(amount tax amount, text,text,text, 2337, 1653)",14834,0,"[1134.0, 1418.0, 1385.0, 1442.0, 1259.5, 1430.0]"
2790,Tax Amount (in words): Five Thousand Seven Hun...,(tax amount word five thousand seven hundr nin...,14834,0,"[178.0, 1513.0, 1351.0, 1541.0, 764.5, 1527.0]"
2957,Ordered Coupon Code Quantity Price Amount,"(order coupon code quantiti price amount, text...",14820,0,"[1088.0, 1902.0, 2153.0, 1934.0, 1620.5, 1918.0]"
3108,Payable Amount /,"(payabl amount, text,text, 3508, 2479)",14808,0,"[1634.0, 354.0, 1861.0, 374.0, 1747.5, 364.0]"
3158,Rounding amount,"(round amount, text,text, 3508, 2479)",14808,0,"[53.0, 1783.0, 321.0, 1808.0, 187.0, 1795.5]"
3163,Total Amount / nd,"(total amount nd, text,text,text, 3508, 2479)",14808,0,"[65.0, 2358.0, 422.0, 2390.0, 243.5, 2374.0]"
3167,Pavable Amount Before Due Date in Word:,"(pavabl amount befor due date word, text,text,...",14808,0,"[54.0, 2434.0, 513.0, 2452.0, 283.5, 2443.0]"
3252,Amount,"(amount, text, 2337, 1653)",14753,0,"[1317.0, 799.0, 1398.0, 817.0, 1357.5, 808.0]"
3258,Amount Chargeable (in words),"(amount chargeabl word, text,text,text, 2337, ...",14753,0,"[225.0, 1259.0, 522.0, 1284.0, 373.5, 1271.5]"
3302,Total Amount Due,"(total amount due, text,text,text, 3508, 2479)",14759,0,"[244.0, 1719.0, 698.0, 1760.0, 471.0, 1739.5]"
3380,Amount (INR),"(amount inr, text,text, 1100, 828)",14756,0,"[694.0, 627.0, 790.0, 641.0, 742.0, 634.0]"
3392,Total amount to be paid,"(total amount paid, text,text,text, 1100, 828)",14756,0,"[33.0, 849.0, 194.0, 862.0, 113.5, 855.5]"
3452,Taxable Amount,"(taxabl amount, text,text, 2337, 1653)",14831,0,"[1198.0, 1323.0, 1300.0, 1338.0, 1249.0, 1330.5]"
3455,Total amount in words Twenty Thousand Rupces Only,"(total amount word twenti thousand rupc onli, ...",14831,0,"[1078.0, 1425.0, 1462.0, 1448.0, 1270.0, 1436.5]"
3503,Amount Pavable,"(amount pavabl, text,text, 3508, 2479)",14770,0,"[142.0, 1243.0, 403.0, 1272.0, 272.5, 1257.5]"
3609,Amount,"(amount, text, 3507, 2481)",14804,0,"[2167.0, 1546.0, 2302.0, 1573.0, 2234.5, 1559.5]"
3654,Amount,"(amount, text, 3508, 2480)",14773,0,"[1887.0, 734.0, 2021.0, 760.0, 1954.0, 747.0]"
3657,Net Amount,"(net amount, text,text, 3508, 2480)",14773,0,"[2135.0, 734.0, 2331.0, 759.0, 2233.0, 746.5]"
3663,Total CGST Amount,"(total cgst amount, text,text,text, 3508, 2480)",14773,0,"[1702.0, 1139.0, 2020.0, 1166.0, 1861.0, 1152.5]"
3664,Total SGST/UTGST Amount,"(total sgst/utgst amount, text,text,text, 3508...",14773,0,"[1574.0, 1223.0, 2020.0, 1250.0, 1797.0, 1236.5]"
3665,Gross Amount,"(gross amount, text,text, 3508, 2480)",14773,0,"[1795.0, 1303.0, 2019.0, 1329.0, 1907.0, 1316.0]"
3712,Amount,"(amount, text, 3300, 2550)",14818,0,"[2027.0, 1355.0, 2190.0, 1384.0, 2108.5, 1369.5]"
3726,Amount in words: Rupees One Thousand Seven Hun...,"(amount word rupe one thousand seven hundr, te...",14818,0,"[299.0, 2049.0, 1470.0, 2079.0, 884.5, 2064.0]"
3773,Total Amount before Tax,"(total amount befor tax, text,text,text,text, ...",14829,0,"[828.0, 1566.0, 1083.0, 1586.0, 955.5, 1576.0]"
3775,Total Amount Including Tax,"(total amount includ tax, text,text,text,text,...",14829,0,"[828.0, 1629.0, 1111.0, 1651.0, 969.5, 1640.0]"
3782,Total Amount 11690.00,"(total amount money, text,text,money, 2337, 1653)",14829,18,"[1167.0, 1696.0, 1463.0, 1716.0, 1315.0, 1706.0]"
3855,Transaction amount,"(transact amount, text,text, 3300, 2550)",14787,0,"[866.0, 1371.0, 1211.0, 1393.0, 1038.5, 1382.0]"
3995,Amount,"(amount, text, 3507, 2481)",14810,0,"[1527.0, 1149.0, 1644.0, 1175.0, 1585.5, 1162.0]"
3996,% | Amount l % | Amount | % | Amount,"(amount amount amount, text,text,text, 3507, 2...",14810,0,"[1715.0, 1161.0, 2400.0, 1188.0, 2057.5, 1174.5]"
4008,Taxable Amount,"(taxabl amount, text,text, 3507, 2481)",14810,0,"[1691.0, 2174.0, 1935.0, 2200.0, 1813.0, 2187.0]"
4009,CGST Amount,"(cgst amount, text,text, 3507, 2481)",14810,0,"[1691.0, 2224.0, 1909.0, 2249.0, 1800.0, 2236.5]"
4010,SGST Amount,"(sgst amount, text,text, 3507, 2481)",14810,0,"[1693.0, 2272.0, 1907.0, 2297.0, 1800.0, 2284.5]"
4011,IGST Amount,"(igst amount, text,text, 3507, 2481)",14810,0,"[1693.0, 2320.0, 1894.0, 2347.0, 1793.5, 2333.5]"
4013,Total Invoice Amount,"(total invoic amount, text,text,text, 3507, 2481)",14810,0,"[1691.0, 2424.0, 2005.0, 2451.0, 1848.0, 2437.5]"
4048,Amount (INR),"(amount inr, text,text, 2339, 1653)",14748,0,"[1182.0, 558.0, 1303.0, 576.0, 1242.5, 567.0]"
4091,Amount,"(amount, text, 2337, 1653)",14833,0,"[1247.0, 698.0, 1325.0, 717.0, 1286.0, 707.5]"
4104,Amount Chargeable (in words),"(amount chargeabl word, text,text,text, 2337, ...",14833,0,"[141.0, 1361.0, 426.0, 1382.0, 283.5, 1371.5]"
4137,Previous Bill Amount,"(previous bill amount, text,text,text, 3508, 2...",14825,0,"[113.0, 590.0, 445.0, 615.0, 279.0, 602.5]"
4139,Total Amount,"(total amount, text,text, 3508, 2475)",14825,0,"[2091.0, 541.0, 2305.0, 564.0, 2198.0, 552.5]"
4141,Amount,"(amount, text, 3508, 2475)",14825,0,"[1808.0, 542.0, 1928.0, 564.0, 1868.0, 553.0]"
4182,Amount Ex. Tax,"(amount ex tax, text,text,text, 3071, 2480)",14793,0,"[1902.0, 1496.0, 2152.0, 1521.0, 2027.0, 1508.5]"
4190,Total Amount,"(total amount, text,text, 3071, 2480)",14793,0,"[1902.0, 1632.0, 2115.0, 1657.0, 2008.5, 1644.5]"
4274,Total Amount.,"(total amount, text,text, 3508, 2479)",14796,0,"[1901.0, 748.0, 2221.0, 775.0, 2061.0, 761.5]"
4296,Net Amount (Rs.,"(net amount rs, text,text,text, 3508, 2479)",14796,0,"[774.0, 1730.0, 1077.0, 1764.0, 925.5, 1747.0]"
4333,AMOUNT,"(amount, text, 3508, 2479)",14796,0,"[858.0, 2917.0, 1038.0, 2947.0, 948.0, 2932.0]"
4335,AMOUNT,"(amount, text, 3508, 2479)",14796,0,"[1435.0, 2918.0, 1612.0, 2946.0, 1523.5, 2932.0]"
4337,AMOUNT,"(amount, text, 3508, 2479)",14796,0,"[1986.0, 2917.0, 2166.0, 2947.0, 2076.0, 2932.0]"
4378,Amount Payable,"(amount payabl, text,text, 3508, 2475)",14781,0,"[2103.0, 705.0, 2361.0, 730.0, 2232.0, 717.5]"
4385,Amount In Words : One Thousand Four Hundred Fi...,(amount word one thousand four hundr fifti thr...,14781,0,"[1147.0, 914.0, 2396.0, 939.0, 1771.5, 926.5]"
4392,Amount (Rs.),"(amount rs, text,text, 3508, 2475)",14781,0,"[2105.0, 995.0, 2337.0, 1030.0, 2221.0, 1012.5]"
4397,Amount(Rs.) One Iime Charges,"(amount(r one iim charg, text,text,text,text, ...",14781,0,"[1414.0, 1185.0, 1899.0, 1206.0, 1656.5, 1195.5]"
4408,Amount (Rs.),"(amount rs, text,text, 3508, 2475)",14781,0,"[2185.0, 1634.0, 2367.0, 1661.0, 2276.0, 1647.5]"
4412,axable Amount,"(axabl amount, text,text, 3508, 2475)",14781,0,"[1637.0, 1884.0, 1836.0, 1902.0, 1736.5, 1893.0]"
4418,"""Please pay current bill amount only, if the","(""pleas pay current bill amount onli, text,tex...",14781,0,"[1718.0, 2469.0, 2306.0, 2491.0, 2012.0, 2480.0]"
4419,previous telephone bill amount has already,"(previous telephon bill amount alreadi, text,t...",14781,0,"[1714.0, 2504.0, 2310.0, 2531.0, 2012.0, 2517.5]"
4432,Amount Due: 1453.00,"(amount due money, text,text,money, 3508, 2475)",14781,0,"[1825.0, 2994.0, 2180.0, 3017.0, 2002.5, 3005.5]"
4445,Please make crossed Cheque/DD/Pay order for Am...,(pleas make cross cheque/dd/pay order amount p...,14781,0,"[78.0, 3319.0, 1568.0, 3341.0, 823.0, 3330.0]"
4520,Total Amount.,"(total amount, text,text, 3508, 2479)",14767,0,"[1901.0, 748.0, 2221.0, 775.0, 2061.0, 761.5]"
4542,Net Amount (Rs.,"(net amount rs, text,text,text, 3508, 2479)",14767,0,"[774.0, 1730.0, 1077.0, 1764.0, 925.5, 1747.0]"
4579,AMOUNT,"(amount, text, 3508, 2479)",14767,0,"[858.0, 2917.0, 1038.0, 2947.0, 948.0, 2932.0]"
4581,AMOUNT,"(amount, text, 3508, 2479)",14767,0,"[1435.0, 2918.0, 1612.0, 2946.0, 1523.5, 2932.0]"
4583,AMOUNT,"(amount, text, 3508, 2479)",14767,0,"[1986.0, 2917.0, 2166.0, 2947.0, 2076.0, 2932.0]"
4632,*GST amounts shown in EUR are a conversion of USD,"(gst amount shown eur convers usd, text,text,t...",14819,0,"[1569.0, 2861.0, 2305.0, 2883.0, 1937.0, 2872.0]"
4633,"billed amounts as of Feb 28, 2018.","(bill amount date number number, text,text,dat...",14819,0,"[1569.0, 2906.0, 2041.0, 2930.0, 1805.0, 2918.0]"
4634,Actual amounts collected will depend on the,"(actual amount collect depend, text,text,text,...",14819,0,"[1569.0, 2953.0, 2191.0, 2977.0, 1880.0, 2965.0]"
4670,Total Amount before Tax,"(total amount befor tax, text,text,text,text, ...",14828,0,"[823.0, 1521.0, 1080.0, 1542.0, 951.5, 1531.5]"
4672,Total Amount Including Tax,"(total amount includ tax, text,text,text,text,...",14828,0,"[821.0, 1581.0, 1105.0, 1609.0, 963.0, 1595.0]"
4679,Total Amount 40200.00,"(total amount money, text,text,money, 2337, 1653)",14828,18,"[1130.0, 1654.0, 1424.0, 1679.0, 1277.0, 1666.5]"
4730,Net Payable Amount,"(net payabl amount, text,text,text, 4961, 3508)",14809,0,"[1354.0, 1780.0, 1641.0, 1804.0, 1497.5, 1792.0]"
4790,Total Amount before Tax,"(total amount befor tax, text,text,text,text, ...",14827,0,"[866.0, 1522.0, 1122.0, 1540.0, 994.0, 1531.0]"
4792,Total Amount Including Tax,"(total amount includ tax, text,text,text,text,...",14827,0,"[866.0, 1586.0, 1154.0, 1604.0, 1010.0, 1595.0]"
4800,Total Amount,"(total amount, text,text, 2337, 1653)",14827,0,"[1173.0, 1650.0, 1314.0, 1668.0, 1243.5, 1659.0]"
4829,OTV | t UNIT PRICE AMOUNT,"(otv unit price amount, text,text,text,text, 2...",14835,0,"[924.0, 531.0, 1368.0, 569.0, 1146.0, 550.0]"
4840,Net Amount,"(net amount, text,text, 2337, 1653)",14835,0,"[1033.0, 1258.0, 1151.0, 1276.0, 1092.0, 1267.0]"
4962,Amount,"(amount, text, 3508, 2480)",14794,0,"[2014.0, 2557.0, 2152.0, 2584.0, 2083.0, 2570.5]"
5049,AMOUNT,"(amount, text, 3300, 2550)",14807,0,"[2025.0, 883.0, 2183.0, 913.0, 2104.0, 898.0]"
5066,Amount Due,"(amount due, text,text, 3300, 2550)",14807,0,"[433.0, 1666.0, 648.0, 1696.0, 540.5, 1681.0]"
5149,Amount,"(amount, text, 2338, 1700)",14743,0,"[1266.0, 784.0, 1341.0, 801.0, 1303.5, 792.5]"
5168,Amount Chargeable (in words),"(amount chargeabl word, text,text,text, 2338, ...",14743,0,"[170.0, 1308.0, 430.0, 1328.0, 300.0, 1318.0]"
5222,axable Amount,"(axabl amount, text,text, 3508, 2480)",14762,0,"[637.0, 1771.0, 936.0, 1796.0, 786.5, 1783.5]"
5231,Above amount is in Indian National Rupees (INR),"(abov amount indian nation rupe inr, text,text...",14762,0,"[150.0, 2524.0, 902.0, 2556.0, 526.0, 2540.0]"
5234,Please wire transfer the amount to the account...,"(pleas wire transfer amount account given, tex...",14762,0,"[152.0, 2704.0, 1065.0, 2729.0, 608.5, 2716.5]"
5281,Amount Due,"(amount due, text,text, 3508, 2475)",14788,0,"[1536.0, 527.0, 1802.0, 560.0, 1669.0, 543.5]"
5299,Amount (A),"(amount, text, 3508, 2475)",14788,0,"[147.0, 1188.0, 352.0, 1218.0, 249.5, 1203.0]"
5303,Total Amount Due,"(total amount due, text,text,text, 3508, 2475)",14788,0,"[1514.0, 1145.0, 1835.0, 1172.0, 1674.5, 1158.5]"
5305,Total Amount Payable,"(total amount payabl, text,text,text, 3508, 2475)",14788,0,"[1949.0, 1145.0, 2342.0, 1177.0, 2145.5, 1161.0]"
5316,Amount,"(amount, text, 3508, 2475)",14788,0,"[854.0, 1515.0, 978.0, 1537.0, 916.0, 1526.0]"
5357,Total Amount Due,"(total amount due, text,text,text, 3508, 2475)",14788,0,"[85.0, 2410.0, 370.0, 2435.0, 227.5, 2422.5]"
5475,**nsurance Amount:,"(nsuranc amount, text,text, 3300, 2550)",14806,0,"[331.0, 2926.0, 724.0, 2958.0, 527.5, 2942.0]"
5527,Amount,"(amount, text, 3507, 2481)",14761,0,"[2145.0, 1792.0, 2236.0, 1809.0, 2190.5, 1800.5]"
5584,TOTAL AMOUNT,"(total amount, text,text, 3508, 2480)",14816,0,"[1572.0, 440.0, 1895.0, 475.0, 1733.5, 457.5]"
5594,Amount due,"(amount due, text,text, 3508, 2480)",14816,0,"[130.0, 1048.0, 328.0, 1078.0, 229.0, 1063.0]"
5596,TOTAL AMOUNT:,"(total amount, text,text, 3508, 2480)",14816,0,"[131.0, 1212.0, 432.0, 1242.0, 281.5, 1227.0]"
5598,AMOUNT,"(amount, text, 3508, 2480)",14816,0,"[2189.0, 959.0, 2347.0, 987.0, 2268.0, 973.0]"
5621,Amount Payable,"(amount payabl, text,text, 3508, 2483)",14778,0,"[1810.0, 878.0, 2068.0, 907.0, 1939.0, 892.5]"